@import "blobz.min.css";

/*Transition for Landing Page Avatar and Page Links*/
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }

}

@keyframes transitionFromLeft {
    from{
        opacity: 0;
        transform:translate(-25px, 0px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes transitionFromRight {
    from{
        opacity: 0;
        transform:translate(25px, 0px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes transitionToTop {
    from{
        opacity: 0;
        transform:translate(0px, 25px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes transitionToBottom {
    from{
        opacity: 0;
        transform:translate(0px, -25px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60%
        30% 70%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
}



/* General Changes to Overall Layout Across ALL PAGES*/

html{
    
}
.indexBody, .personalProjectsBody, .experienceBody, .aboutBody{
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;

}

.boldedWords{
    font-weight: bold;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    color: #D8D9DA;
    text-align: center;
    background-color: #272829;
    height: 50px;
    border-radius: 25px;
    margin-top:0px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    
}
dt{
    color:#040D12;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px ;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    animation: transitionIn 2s;
    
    
}
dd{
    color: #040D12;
    text-align:justify;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 4px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.backToFront{
    font-size: 25px;
    color:#EEEEEE;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 55px;
    transition: transform 0.5s;

}
.backToFront:hover{
    transform: scale(1.1);
    
}

/*Landing Page CSS*/


header {
    background-color: #272829; /* Dark background like your buttons */
    padding: 1rem 0; /* Some padding around the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
    position: sticky; /* Make the header stick to the top of the viewport */
    top: 0; /* Align the sticky header at the top */
    z-index: 1000; /* Ensure the header stays on top of other content */
}

#headerName{

    font-size: 20px;
    color: #D8D9DA; /* Light grey color for text */
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: flex; /* Display the list items inline */
    justify-content: center; /* Center the list items */
    align-items: center;
}

nav ul li {
    margin: 0 20px; /* Spacing between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #D8D9DA; /* Light grey color for text */
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: color 0.5s ease-in-out;
}



nav ul li a:hover {
    color: #EEEEEE; /* Lighter color on hover */
    text-decoration: underline; /* Underline on hover for emphasis */
    transform: scale(1.1); /* Slight increase in size */
}
nav ul li img {
    height: 50px; /* Adjust based on your preference */
    width: auto; /* Maintain aspect ratio */
    transition: transform 0.1s ease-in-out;
}

nav ul li img:hover {
    transform: scale(1.1); /* Slight increase in size on hover */
}

nav ul li:nth-child(3) {
    margin-right: auto; /* Pushes all subsequent items to the right */
}

#icons{
   
height: 25px;
   
}


.avatar {
    
    animation: animate 10s ease-in-out infinite ;
    border-style: solid;
    border-width:3px;
    border-color:#040D12;
    transition: all 1s ease-in-out;
    background-size: contain;
    background-position: center;
    width: 21rem;
    transition: transform 0.5s;
    
    
  }


#porfolioSections{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: column;
    padding-top: 50px;
    display: flex;
    overflow: hidden;
    text-align: center;

}



#heroText{

    font-size: 30px; 
    color: #272727  ; 
    margin-top: 0px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}


/*About Me Page CSS*/

#aboutContainer{
    margin: 50px 0px 0px 0px;
    height: 450px;
    
}
    
.aboutMeP {
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    margin: 20px auto;
    width: 67%;
 
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.aboutSectionWords{
   
}

.aboutSectionPicture{


}


.skillsContainer {
    width: 550px; /* Adjust based on actual total width of 4 images plus margins */
    height: 50px;
    margin: 0 auto; /* Center the container */
}

.skillsPic{
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 25px;
    animation: transitionToTop 2s;
    color: var(--color);
    transition: transform 0.5s;
}

.skillsPic:hover{

    transform: scale(1.1);

}
.companyLogos{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 15px;
    animation: transitionToBottom 2s;
    transition: transform 0.5s;
}
.companyLogos:hover{
    transform: scale(1.1);
}
/*Personal Project Page CSS*/

.personalProjectsBody{
    margin:0;
    padding: 0;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: 600px;
    margin: 110px auto;
    

} 

.container .box{
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background:#000000;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
    transition: transform 0.5s;
    animation: transitionIn 1.0s;
    
  
}

#box_one:hover {
    transform: scale(1.1);
    background-image: url(./Images/covidMap.png);
    border-style: solid;
    border-color: #000000;
    
}
#box_two:hover {
    transform: scale(1.1);
    background-image: url(./Images/amazon.jpg);
    background-size: contain;
    border-style: solid;
    border-color: #000000;
    
    
}
#box_three:hover {
    transform: scale(1.1);
    background-image: url(./Images/spaceinvade.png);
    border-style: solid;
    border-color: #000000;
    background-size:cover;
    background-position: center;
    
}
#box_four:hover {
    transform: scale(1.1);
    background-image: url(./Images/calc.png);
    border-style: solid;
    border-color: #000000;
    background-size: cover;
    
}
#box_five:hover {
    transform: scale(1.1);
    background-image: url(./Images/tic.png);
    border-style: solid;
    border-color: #000000;
    background-size: cover;
    background-position: center;
    
}
#box_six:hover {
    transform: scale(1.1);
    background-image: url(./Images/quiz.jpg);
    border-style: solid;
    border-color: #000000;
    background-size: cover;
    background-position: center;
    
}
.container .box:hover .projectText{
    color: #000000;
  
}



.box .projectText{
    
    color: aliceblue;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.box img{
    margin: 5px auto;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    animation: transitionToBottom 1s;
    border-radius: 25px;
}
.box img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Experience Page CSS*/

.experienceBody{
    margin: 0;
    padding: 0;
    
}

.projcontainer{
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content:center;
    width: 1200px;
    height: 800px;
    margin: 50px auto 0px;
    
}



.projcontainer .projbox{
    
    width: calc(400px - 30px);
    height: calc(300px - 60px);
    background:#000000;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
    transition: transform 0.5s;
    animation: transitionIn 1.0s;
  
}

.projcontainer .descBox{
    width: calc(400px - 400px);
    height: calc(300px - 60px);
    background:rgba(255,255,255);
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
    border-color: #000000;
    border-style: solid;
    border-width: 10px;
    transition: transform 0.5s;
    animation: transitionIn 1.0s;
    flex-grow: 1;
}


.line-break{
    width: 100%;
}

.experienceText, #descriptionText{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    
}
#proj_box_three .experienceText, #proj_box_four .experienceText{
  
    color:rgba(255,255,255)
    

}

#descriptionText{
    color: #000000;
}

#proj_box_one{
    background-image: url(./Images/TD.png);
    background-size: cover;
    background-position: center;
    
}

#proj_box_two{
    background-image: url(./Images/TD.png);
    background-size: cover;
    background-position: center;
   
}

#proj_box_three{
    background-image: url(./Images/pepsiCo.jpg);
    background-size: cover;
    background-position: center;
  
    
}

#proj_box_four{
    background-image: url(./Images/creospark.png);
    background-size: cover;
    background-position: center;
  

}

#proj_box_five{
    background-image: url(./Images/projectBunker.jpg);
    background-size: contain;
    background-position:center;
   
}



#proj_box_one:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
}


#proj_box_two:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
    
}
#proj_box_three:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
}
#proj_box_four:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
}
#proj_box_five:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
}

#proj_box_one:hover .experienceText, #proj_box_two:hover .experienceText, #proj_box_five:hover .experienceText {
    color: #000000;
}













/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background-image: rgb(255, 255, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background-color: gray
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 177, 177)
  }






