@import "blobz.min.css";
@import url();

/*Transition for Landing Page Avatar and Page Links*/
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }

}

@keyframes transitionFromLeft {
    from{
        opacity: 0;
        transform:translate(-25px, 0px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes transitionFromRight {
    from{
        opacity: 0;
        transform:translate(25px, 0px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes transitionToTop {
    from{
        opacity: 0;
        transform:translate(0px, 25px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes transitionToBottom {
    from{
        opacity: 0;
        transform:translate(0px, -25px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60%
        30% 70%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
}

@font-face {
    font-family: SwitzerBold;
    src: url(Switzer-Bold.otf);
  }

@font-face {
    font-family: SwitzerLight;
    src: url(Switzer-Light.otf);
}

@font-face {
    font-family: SwitzerRegular;
    src: url(sansation_light.woff);
}



/* General Changes to Overall Layout Across ALL PAGES*/

html{

    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}
.indexBody, .personalProjectsBody, .experienceBody, .aboutBody{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.boldedWords{
    font-weight: bold;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    color: #D8D9DA;
    text-align: center;
    background-color: #272829;
    height: 50px;
    border-radius: 25px;
    margin-top:0px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    
}


h2{
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Switzer';
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
}


/*Landing Page CSS*/


header {
    
     /* Dark background like your buttons */
    padding: 2rem ; /* Some padding around the header */
     /* Slight shadow for depth */
     background-color: #231f20;
}

nav ul {
    list-style: none; /* Remove default list styling */
    margin: 0 50px;
    display: flex; /* Display the list items inline */
    justify-content: center; /* Center the list items */
    align-items: center;
   
}

nav ul li {
    margin: 0 20px; /* Spacing between list items */
    font-family: 'Switzer', sans-serif;
    
}

nav ul li a {
    text-decoration: none;
    color: white; /* Light grey color for text */
    font-size: 35px;
    transition: color 0.5s ease-in-out;
    font-weight: 900;
}



nav ul li a:hover {
     /* Lighter color on hover */
    text-decoration:none;/* Underline on hover for emphasis */
    transform: scale(1.1); /* Slight increase in size */
    
}
nav ul li img { /* Adjust based on your preference */
     /* Maintain aspect ratio */
    transition: transform 0.1s ease-in-out;
    text-decoration: none;
}

nav ul li img:hover {
    transform: scale(1.1); /* Slight increase in size on hover */
}

nav ul li:nth-child(3) {
    margin-right: auto; /* Pushes all subsequent items to the right */
}

#icons{
   
height: 35px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
}





/* Side Navigation Styles */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #231f20;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;

}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Switzer', sans-serif;
}

.side-nav a:hover {
    color: black
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}




.avatar {
    
    animation: animate 10s ease-in-out infinite ;
    border-style: solid;
    border-width:3px;
    border-color:#040D12;
    transition: all 1s ease-in-out;
    background-size: contain;
    background-position: center;
    width: 21rem;
    transition: transform 0.5s;
    
  }



#porfolioSections {
    display:flex;
    align-items: center;
    justify-content: space-between; /* Keeps elements spaced out */
    overflow: hidden;
    text-align: center;
    margin-top: -5%;
    height: 100vh;
    padding: 0px 25%; /* Adds padding on the left and right */
    background-color: #231f20;
   
   
  }

#heroText{

    font-size: 30px; 
    color: white ; 
    margin-top: 0; 
    font-family: 'Switzer', sans-serif;
    font-weight: bold;
}

.devText{

    font-size: 40px;
}

.seperator{
    font-weight: lighter;
}

.skillsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:612px; /* Adjust based on actual total width of 4 images plus margins */
    height: 55px;
    padding-right: 25px
    
}

.skillsPic{
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 25px;
    animation: transitionToTop 2s;
    color: var(--color);
    transition: transform 0.5s;
    
}

.skillsPic:hover{

    transform: scale(1.1);

}

/*About Me Page CSS*/

#About {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #231f20;
    padding: 20px;
    
  }

.aboutContent{
    display: flex;
    flex-direction: row;
    flex:1 ;
}
    
  .aboutImgContainer{
    display: flex;
    
    
  }


  .aboutPContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    
    
  }

  .aboutMeP {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    width: 90%;
    font-family: 'Switzer', sans-serif;
    
  }

  .avatar-two-pic1{
    align-self: center;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    margin-top: 5vh;
    margin-left: 5vw;
  }

  .avatar-two-pic2{
    position: relative;
    bottom: 220px;
    right: 150px;
    align-self: center;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    margin-top: 10vh;
    margin-left: 5vw;
    background-image: url(./Images/ff16.jpg);
    background-size: cover;
    background-position: center;
    
    
  }


  .btn-container{
    display: flex;
    gap: 1em;
  }
  .resume-btn {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size:15px;
    font-family: 'Switzer', sans-serif;
    font-weight: bold;
    background-color: #bfc1c3;
    color: #333; /* Text color for better contrast */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s; /* Enhanced transitions */
    text-align: center; 
    user-select: none;
    line-height: 40px;

}
.contact-button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size:15px;
    font-family: 'Switzer', sans-serif;
    font-weight: bold;
    background-color: #bfc1c3;
    color: #333; /* Text color for better contrast */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s; /* Enhanced transitions */
    text-align: center; 
    user-select: none;
    line-height: 40px;
}

.resume-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    background-color: #e0e1dd; /* Slightly darker shade on hover */
    color: #1a1a1a; /* Darker text color on hover */
}



/*Personal Project Page CSS*/

#Projects{
    background-color: #231f20;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.personalProjectsBody{
    margin:0;
    padding: 0;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
} 

.container .box{
    width: 370px;
    height: 450px;
    background:#5a5758;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
    transition: transform 0.5s;
    animation: transitionIn 1.0s;
  
}

#box_one:hover {
    transform: scale(1.1);
    background-image: url(./Images/covidMap.png);
    border-style: solid;
    border-color: #000000;
    
}
#box_two:hover {
    transform: scale(1.1);
    background-image: url(./Images/amazon.jpg);
    background-size: contain;
    border-style: solid;
    border-color: #000000;
    
    
}

#box_six:hover {
    transform: scale(1.1);
    background-image: url(./Images/quiz.jpg);
    border-style: solid;
    border-color: #000000;
    background-size: cover;
    background-position: center;
    
}
.container .box:hover .projectText{
    color: #000000;
  
}



.box .projectText{
    
    color: aliceblue;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Switzer';
    
}


.box img{
    margin: 5px auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    animation: transitionToBottom 1s;
    border-radius: 25px;
}
.box img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Experience Page CSS*/

.experienceBody{
    margin: 0;
    padding: 0;
    
}

#Experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 105vh;
    background-color: #231f20;
    
}



.projcontainer{
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content:center;
    width: 1200px;
    height: 700px;
    margin-bottom: 40px;
}


.projcontainer .projbox{
    
    width: 350px;
    height: 200px;
    background:#000000;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
    transition: transform 0.5s;
    animation: transitionIn 1.0s;
  
}

.projcontainer .descBox{
    height: 200px;
    background:#5a5758;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
    border-color: #000000;
    border-style: solid;
    border-width: 10px;
    transition: transform 0.5s;
    animation: transitionIn 1.0s;
    flex-grow: 1;
}


.line-break{
    width: 100%;
}

.experienceText h3{
    margin-top: 7px;
    
}

#experienceTextHeader h3{
    color: white;
}

.experienceText, #descriptionText{
    text-align: center;
    font-family: 'Switzer';
    padding-left: 10px;
    padding-right: 10px;
    
   
    
}
#proj_box_three .experienceText, #proj_box_four .experienceText{
  
    color:rgba(255,255,255)

}

#descriptionText{
    color: white
}

#proj_box_one{
    background-image: url(./Images/TD.png);
    background-size: cover;
    background-position: center;
    
}

#proj_box_two{
    background-image: url(./Images/TD.png);
    background-size: cover;
    background-position: center;
   
}

#proj_box_three{
    background-image: url(./Images/pepsiCo.jpg);
    background-size: cover;
    background-position: center;
  
    
}

#proj_box_four{
    background-image: url(./Images/creospark.png);
    background-size: cover;
    background-position: center;
  

}

#proj_box_five{
    background-image: url(./Images/projectBunker.jpg);
    background-size: contain;
    background-position:center;
   
}



#proj_box_one:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
}


#proj_box_two:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
    
}
#proj_box_three:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
}
#proj_box_four:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
    
}
#proj_box_five:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    opacity: 0.7;
}

#proj_box_one:hover .experienceText, #proj_box_two:hover .experienceText, #proj_box_five:hover .experienceText {
    color: #000000;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background-image: rgb(255, 255, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background-color: gray
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 177, 177)
  }



/* Mobile Version */
@media (max-width:1365px){
    .skillsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width:500px; /* Adjust based on actual total width of 4 images plus margins */
        height: 55px;
        padding-right: 25px
        
    }

    #heroText{

        font-size: 20px; 
        color: white ; 
        margin-top: 0; 
        font-family: 'Switzer', sans-serif;
        font-weight: bold;
    }
    .devText{

        font-size: 30px;
    }
    .avatar{
        width: 18rem;
    }

    .skillsPic{
        height: 35px;
        width: 35px;
        float: left;
        margin-left: 25px;
        animation: transitionToTop 2s;
        color: var(--color);
        transition: transform 0.5s;
        
    }
}

@media (max-width:1080px){
    .skillsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width:500px; /* Adjust based on actual total width of 4 images plus margins */
        height: 55px;
        padding-right: 25px
        
    }
    #porfolioSections {
        display:flex;
        align-items: center;
        justify-content: center;
         /* Keeps elements spaced out */
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        margin-top: -5%;
        height: 100vh;
        padding: 0px 25%; /* Adds padding on the left and right */
        background-color: #231f20;
    }

    #heroText{

        font-size: 20px; 
        color: white ; 
        margin-top: 0; 
        font-family: 'Switzer', sans-serif;
        font-weight: bold;
    }
    .devText{

        font-size: 30px;
    }
    .avatar{
        width: 18rem;
    }

    .skillsPic{
        height: 35px;
        width: 35px;
        float: left;
        margin-left: 25px;
        animation: transitionToTop 2s;
        color: var(--color);
        transition: transform 0.5s;
        
    }
}

/*Altering Font Sizes for Header and Icons*/

@media (max-width: 1140px) {
    nav ul li a {
        font-size: 25px;
    }
    #icons{
    
        height:25px;
    
    }

}

@media (max-width: 938px) {
    nav ul li a {
        font-size: 22px;
    }
    #icons{
    
        height:22px;
    
    }

}

@media (max-width: 877px) {
    nav ul li a {
        font-size: 18px;
    }
    #icons{
    
        height:18px;
    
    }

}




@media (max-width: 768px) {
    nav ul  {
        display: none;
    }
    .hamburger{
    
        display: flex;
    
    }

}
 

@media (max-width: 480px) and (orientation: portrait) {
    
    
    .avatar {
        width: 15rem;
    }

    .skillsPic {
        height: 23px;
        width: 23px;
    }

    .skillsContainer {
        width: 93%; /* Adjust based on actual total width of 4 images plus margins */
        
    }

    #heroText {
        font-size: 1.2rem;
        padding-left: 17px;
        padding-right: 17px;
    }
    .devText {
        font-size: 1.5rem;
        
    }

    /* Hide the scrollbar */
    ::-webkit-scrollbar,.avatar-two-pic2, .avatar-two-pic1, .descBox {
        display: none;
    }

    .resume-btn{

        width: 120px;
        line-height: 20px;

    }
    .contact-button{
        width: 120px;
    }

    .container{
        
        margin-bottom: 50px;
    }

    .container .box{
        width: 330px;
        height: 150px;

    }

    .container .box .projectText{
        font-size: 13px;
        margin-top: 0;
        align-items: center;
        justify-content: center;
    }


    .projcontainer{
        
       
       
        width: 100%;
        display:flex;
        flex-wrap:wrap;

    
    }

    .projcontainer .projbox{
        
    
        width: 330px;
        height: 75px;
        
    }

    #proj_box_one{
        background-image: url(./Images/TD.png);
        background-size:contain;
       
        
    }
    
    #proj_box_two{
        background-image: url(./Images/TD.png);
        background-size:contain;
        
    }


    .aboutPContainer{
        
        padding-bottom: 0px;
        
        
    }

    h2{
        font-size: 30px;
        width: 100%;
        margin-top:0px;
        margin-bottom: 0px;
        padding-top: 0px;
        
    }

    .aboutMeP {
        font-size: 17px;
        width: 100%;
        
      }

      .aboutContent{

        flex:0 ;
    }
    
}



