@import "blobz.min.css";

/*Transition for Landing Page Avatar and Page Links*/
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }

}

@keyframes transitionFromLeft {
    from{
        opacity: 0;
        transform:translate(-25px, 0px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes transitionFromRight {
    from{
        opacity: 0;
        transform:translate(25px, 0px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes transitionToTop {
    from{
        opacity: 0;
        transform:translate(0px, 25px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes transitionToBottom {
    from{
        opacity: 0;
        transform:translate(0px, -25px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60%
        30% 70%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
}


/* General Changes to Overall Layout Across ALL PAGES*/

html{
    
}
.indexBody{


}

.boldedWords{
    font-weight: bold;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    color: aliceblue;
    text-align: center;
    background-color: #040D12;
    height: 50px;
    border-radius: 25px;
    margin-top:0px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-color: white;
}
dt{
    color:#040D12;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px ;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    animation: transitionIn 2s;
    
    
}
dd{
    color: #040D12;
    text-align:justify;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 4px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.backToFront{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 55px;
    transition: transform 0.5s;

}
.backToFront:hover{
    transform: scale(1.1);
}

/*Landing Page CSS*/
.avatar {
    
    
    animation: animate 5s ease-in-out infinite ;
    border-style: solid;
    border-width:3px;
    border-color:#040D12;
    transition: all 1s ease-in-out;
    background-size: 50%;
    width: 21rem;
    transition: transform 0.5s;
    
  }

.avatar:hover{
    transform: scale(1.05);
    box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.4);

    
}

#porfolioSections{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pageLink{
    color: aliceblue;
    background-color: #040D12;
    border-radius: 25px;
    border-style: solid;
    width:500px;
    margin-bottom: 18px;
    padding-top: 15px;
    padding-bottom:15px;
    font-weight: lighter;
    font-size:20px;
    transition: transform 0.5s;
    animation: transitionFromRight 2s;
    cursor: pointer;

}

.pageLink:hover, .pageLink2:hover{
    background-color:#EEEEEE;
    color: black;
    border-style: double;
    border-color:#040D12;
    text-decoration: underline;
    box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.pageLink2{
    color: aliceblue;
    background-color: #040D12;
    border-radius: 25px;
    border-style: solid;
    width: 500px;
    margin-bottom: 18px;
    padding-top: 15px;
    padding-bottom:15px;
    font-weight: lighter;
    font-size:20px;
    transition: transform 0.5s;
    animation: transitionFromLeft 2s;
    cursor: pointer

}
/*About Me Page CSS*/

.aboutMeP{
    background-color: #040D12;
    border-radius: 25px;
    color:#EEEEEE;
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    animation: transitionIn 2s;

}

.skillsPic{
    
    height: 200px;
    width: 200px;
    float: left;
    margin-bottom: 135px;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 50%;
    animation: transitionToTop 2s;
    border-style:solid;
    border-color: #040D12;
    color: var(--color);
    /*-webkit-box-reflect: below 30px -webkit-gradient(linear,
    right top, right bottom, from(transparent), to(rgba(255,255,255,0.4)));*/
    transition: transform 0.5s;
}
.skillsPic:hover{

    transform: scale(1.1);

}
.companyLogos{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 15px;
    animation: transitionToBottom 2s;
    transition: transform 0.5s;
}
.companyLogos:hover{
    transform: scale(1.1);
}


/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-image: rgb(255, 255, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a1919;
  }






